*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url('images/snakegamebackground.jpg') no-repeat center center fixed;
  background-size: cover;
}
.box{
  background-color: rgb(54, 109, 54);
  width:644px;
  height:644px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(31,auto);
  grid-template-rows: repeat(31,auto);
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  border:12px solid rgb(16, 48, 8);
  border-radius: 12px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  overflow: hidden;
}
.snake{
  width:20px;
  height:20px;
  background-color: rgb(15, 41, 30);
  border:3px solid rgba(4, 14, 7, 0.63);;
  position: absolute;
  z-index: 100;
  border-radius:10px;
}
.snake-body{
   width:20px;
   height:20px;
   position: absolute;
   z-index: 99;
   background-color: rgb(28, 83, 45);
   border:3px solid rgba(4, 14, 7, 0.63);;
   border-radius:50%;
   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   -ms-border-radius:50%;
   -o-border-radius:50%;
}
.transition{
  transition-duration: 150ms;
}


.block:nth-of-type(even) {
  background-color: rgba(114, 182, 47, 0.719);
}
.block:nth-of-type(odd) {
  background-color: rgba(146, 214, 77, 0.719);
}
.food{
  width:15px;
  height:15px;
  background-color: rgb(218, 62, 35);
  border-radius: 50%;
  position:absolute;

}
