*{
  margin:0;
  padding: 0;
}
body{
  background: url('images/snakegamebackground.jpg') no-repeat center center fixed;
  background-size: cover;
}
.box{
  background-color: rgb(54, 109, 54);
  width:600px;
  height:600px;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  border:12px solid rgb(16, 48, 8);
  border-radius: 12px;

}
.snake{
  width:24px;
  height:24px;
  background-color: rgb(5, 26, 0);
  position: absolute;
  z-index: 100;
}
